# Operating System Files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
.DS_Store
._*

# Temporary files & logs
*.log
*.tmp
*.bak

# IDE & Editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
